{% extends "base_een.html" %}
{%load static %}
{% block content%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .block{
        margin-left: 160px;
        font-size: larger;
    }
</style>
<h1 style="text-align: center;"><strong>FAQ (FREQUENTLY ANSWERED QUESTIONS)</strong></h1>
<br>
<div class="block" style="background-color:rgb(225, 235, 241);width:600px;">
<h2>Voor wie is het?</h2>

Retrouvaille is voor koppels die hun huwelijk willen verbeteren. 
We kunnen stellen in moeilijke huwelijken helpen en stellen met een goed huwelijk die geloven dat hun huwelijk beter kan zijn. 
De primaire vereiste is de bereidheid om aan je huwelijk te werken. De bedoeling is dat man en vrouw samen het programma bijwonen.
</div>

<div class="container">
        <h2>Hoe kunnen we er zeker van zijn dat onze privacy wordt beschermd?</h2>
        <p>Wij nemen uw privacy zeer serieus. De namen van onze aanwezige koppels worden nooit gedeeld met andere organisaties, 
            partijen of individuen buiten de Retrouvaille-gemeenschap.
            Alleen je voornamen worden het hele weekend gebruikt.</p>


        <h2>Moet ik mijn huwelijk of persoonlijke problemen bespreken in het bijzijn van andere mensen?</h2>
        <p>Nee, persoonlijk delen is niet vereist. Ook zijn er in het weekend geen groepsdiscussies.
        De hele ervaring is tussen jou en je partner.</p>
  

 

 <div class="media">
        <div class="media-left">
              <img src="/static/core//Crisi-di-coppia.jpg" class="media-object" style="width:250px; height:150px">
        </div> 
            <div class="media-body">
                <h2 class="media-heading"> Wat als een van ons of beiden niet langer verliefd is op de ander?</h2>
                <p>De meeste mensen die zeggen dat ze niet meer verliefd zijn op hun partner, bedoelen dat ze niet langer de romantische liefde voelen die ze aan het begin van hun relatie voelden.
                 Dit soort liefde is bedoeld om over te gaan naar een volwassen, diepere vorm van liefde die kan worden volgehouden. 
                Retrouvaille kan je helpen om die overgang te maken.</p>

                <h2 class="media-heading">Ik wil het Retrouvaille Weekend bijwonen, maar mijn partner niet. Wat moet ik doen?</h2>
                <p>Je hebt al veel tijd en energie geïnvesteerd in je huwelijk, dus een weekend van je tijd geven is een kleine investering.
                Probeer je partner ervan te verzekeren dat er niets te verliezen is door aanwezig te zijn, geef het een kans. 
                Je kunt ook contact met ons opnemen.Het programma is zo ontwikkeld dat man en vrouw het samen beleven.</p>
            </div>
        </div>
        <hr>
<div class="media"> 
       
           
                <div class="media-body">  
                    <h2 class="media-heading">Hoe kan ik er zeker van zijn dat Retrouvaille mijn huwelijk zal redden?</h2>
                    <p>Alleen jullie twee kunnen je huwelijk redden. Retrouvaille leert je een reeks vaardigheden die, als ze goed worden gebruikt, je op de goede weg helpen.
                    We vragen je om voor je weekend aan te komen met tenminste de bereidheid om aan je relatie te werken.</p>
              
      
                    <h2 class="media-heading"></h2>Nederlands is niet mijn primaire taal. Zal dat een probleem zijn tijdens het Retrouvaille Weekend? </h2>
                    <p>Het weekend wordt online in Engeland, en daar ook live gegeven. Ook zijn er mogelijkheden in Italië en Spanje.</p>
       
                </div>
                <div class="media-right">
                    <img src="/static/core//faq.jpg" class="media-object" style="width:250px; height:150px">
                </div>
        </div>
        <hr>
    
            <div>
            <h2>Zijn er religieuze diensten beschikbaar tijdens het Retrouvaille Weekend?</h2>
            <p> Zaterdagochtend is er een eucharistieviering en ook zondagmiddag wordt afgesloten met een viering.
             Alle paren die het weekend bijwonen, worden uitgenodigd om hieraan deel te nemen.</p>
            </div>


    <div>
        <h2>Een van ons kan de ander niet vergeven voor wat er is gebeurd.</h2>
        <p>Je zult tijdens het weekend ontdekken dat er niets is waar je niet van terug kunt komen, zolang zowel man als vrouw bereid zijn zich in te spannen. 
         Veel stellen die het Retrouvaille-programma hebben gevolgd, groeien eigenlijk uit tot een nieuwe, betere verhouding.</p> 
    </div>
</div>

    {% endblock %}