<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Het programma</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="carouselExample" class="carousel slide">
      <style>
        .carousel-inner{
          text-align: center;
        }
      </style>
        <div class="carousel-inner">
          <h1>Retrouvaille </h1>
          <h2>Een reddingslijn voor relaties in nood</h2>

          <div class="carousel-item active">
            <img src="/static/core/retrouvaille.jpg" class="d-block w-100", style="padding-right:150x;">
            <h2 style="padding-left: 40%; text-align: justify;">Een programma voor gelovige stellen die niet willen scheiden en die elkaar weer willen vinden</h2>
          </div>
          <style>
            .carousel-item {
              float: left;
              text-align: left;
            
              
            }
            .d-block {
              padding-left: 40%;
              margin-left: 55px;
            
            }
            

            
            </style>
          <div class="carousel-item program">
            <div>
            <img src="/static/core/Listening.jpg" style= "height:300px; 
           
          
            border-radius: 50%;
            filter: drop-shadow(10px 10px 7px lightblue); 
            align-items: center;"
             alt="..." >
            
            </div class="elena">
                
            <h2>Je realiseert je dat er moeilijkheden zijn in de relatie. Er is zoveel gebeurd en
              mis gegaan, er ligt hopelijk ook nog een toekomst open.
              De inhoud van het weekend is uitdagend, om bij jezelf en met je partner in beraad
              te gaan over de stand van je relatie met thema's als:</h2>
              <ul style=" text-size-adjust:20% ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;">
                <li>Ken en deel ik mijn gevoelens hoe het nu in deze
                  tijd met me gaat, hoe kan ik hierover spreken,
                  zodat het goed is voor mij en de ander?</li>
                  <li>Wij zijn verschillend, wat win ik daarbij?</li>
                  <li>Een opbouwende confrontatie</li>
                  <li>Een uitdaging voor ons als stel</li>
                  <li>Hoe wil ik verder met jou?</li>
              </ul>
          </div>
          

          <div class="carousel-item">
            <img src="/static/core/Anelli.jpg" class="d-block w-100" alt="...">
            <h2>Programma</h2>
            <p>Het weekendprogramma is volop gelegenheid om individueel en in relatie stil te
              staan bij deze vragen en om vooruit te kijken en opnieuw plannen te maken voor je
              relatie.
              Dit meerdaags programma wordt verzorgd door een team van 2 echtparen en een
              priester. Dit team deelt heel persoonlijk over hun ervaringen en keuzes voor hun
              relatie.
              In groepsverband wordt kennisgenomen van deze presentaties, vervolgens zijn er
              privé de eigen werk- en reflectiemomenten voor de deelnemers.
              De deelnemers werken individueel en in de eigen relatie aan de aangereikte thema's
              volkomen vertrouwelijk.
              De maaltijden vinden gezamenlijk plaats en ook daarbuiten is er volop gelegenheid
              voor ontmoeting in een sfeer van rust en ontspanning.
              Onze ervaring is dat dit weekend perspectieven geeft waardoor jullie weer gaan
              geloven in jullie jawoord, hopen op een kans voor jullie relatie en ontdekken dat jullie
              relatie toch positief toekomst kan hebben.</p>

              <br>

              <h2>En daarna?</h2>
              <p>Na dit weekend laten we jullie niet dobberen, het begin is gemaakt, na het weekend
                spreken we af voor vervolg bijeenkomsten van circa 2 uur waarin we de voorstellen
                van het weekend oefenen en in praktijk brengen.</p>
              <br>
              <h2>Nadere gegevens</h2>
             <p>
                Kosten – onder voorbehoud - zijn €475, - per echtpaar, nodig om het verblijf in het
                weekend te Heiloo (kamer en maaltijden) te bekostigen.
                Het Weekend begint op vrijdagavond om 19.00 uur en eindigt op zondagmiddag om 16.00 uur.
                <br>
                Heb je belangstelling, neem tijdig contact op.</p>
          </div>
<style>
  .carousel-item{
    margin-left: 100px;
    margin-right: 180px;
    padding-left: 200 px;
    padding-right: 250 px;
  }
  p{
    text-size-adjust:20% ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
  }
</style>
        
    
</body>
</html>
    
  
